*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font: bold 17px sans-serif;
    
}

header,section,footer,aside,nav,article,hgroup{
   
    display:block;
}
body{
    text-align: left;
}


.agrupar{
    border: 1px solid black;
    background: rgb(145, 184, 160);
    width: 750px;
    margin: 20px auto;
 
}